 .sec__skill{
    background-color: $colorLight;
}
.skill-tab {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 0;
}
.skill-tab::after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $colorGray;
}
.skill-tab-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    font-weight: 500;
    font-size: 18px;
    transition: all 250ms;
    &:hover,
    &:focus {
        color: $colorAccent;
    }
}
.tab-is-active {
    border-radius: 5px 5px 0 0;
    background-color: $colorAccent;
    color: #fff;
}
.skill-soft{
    counter-reset: skill-item; 
}
.skill-tech{
    counter-reset: skill-item; 
}
.skill-item{
    position: relative;
    padding: 7px 0 7px 50px;
    border-radius: 20px 5px 5px 20px;
    background-color: #EBEAE8FF;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.skill-item::before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    counter-increment: skill-item;
    content: counter(skill-item) "";
    background-color: $colorAccent;
    border-radius: 50%;
    border: $colorLight 4px solid;
    width: 30px;
    height: 30px;
}
.skill-item:nth-child(odd) {
    margin: 10px 0;
}